<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hryvinskyi_error_reporting>
            <general>
                <enabled>0</enabled>
            </general>
            <email>
                <enabled>0</enabled>
                <minimum_severity>error</minimum_severity>
                <developer_emails></developer_emails>
                <client_notification_enabled>0</client_notification_enabled>
                <client_emails></client_emails>
                <email_sender>general</email_sender>
            </email>
            <filtering>
                <error_blacklist></error_blacklist>
            </filtering>
            <throttling>
                <period_minutes>60</period_minutes>
                <max_errors_per_period>5</max_errors_per_period>
            </throttling>
            <details>
                <include_detailed_info>1</include_detailed_info>
                <include_post_data>0</include_post_data>
            </details>
        </hryvinskyi_error_reporting>
    </default>
</config>
